#################################################################
#                                                               #
# Copyright (c) 2021-2022 YottaDB LLC and/or its subsidiaries.  #
# All rights reserved.                                          #
#                                                               #
#       This source code contains the intellectual property     #
#       of its copyright holder(s), and is made available       #
#       under a license.  If you do not know the terms of       #
#       the license, please stop and do not read further.       #
#                                                               #
#################################################################

stages:
  - build
  - test

include:
  - template: Security/Dependency-Scanning.gitlab-ci.yml
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml

npm-audit:
  image: "registry.gitlab.com/gitlab-org/security-products/analyzers/npm-audit:1.4.0"
  stage: test
  variables:
    TOOL: npm
  script:
    - /analyzer run
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning-report.json
    paths:
      - gl-dependency-scanning-report.json

commit-verify:
  image: ubuntu:20.04
  stage: build
  script:
    - apt-get update
    - apt-get install -yq git wget gnupg
    # Copy commit script to build directory and execute
    - wget https://gitlab.com/YottaDB/DB/YDB/-/raw/master/ci/commit_verify.sh
    - chmod +x commit_verify.sh
    - ./commit_verify.sh tools/ci/needs_copyright.sh https://gitlab.com/YottaDB/UI/YDBAdminOpsGUI/

ydb-gui-test:
  image: ubuntu:20.04
  stage: test
  script:
    - apt-get update
    - export DEBIAN_FRONTEND="noninteractive" 
    - apt-get -y install tzdata pkg-config lsof procps
    - apt-get install -y git wget nodejs npm binutils libicu-dev libasound2
    - apt-get install -y libnss3-dev libgdk-pixbuf2.0-dev libgtk-3-dev libxss-dev
    - apt-get install -y libgconf-2-4 libatk1.0-0 libatk-bridge2.0-0 libgdk-pixbuf2.0-0 libgtk-3-0 
    - apt-get install -y --no-install-recommends build-essential cmake bison flex xxd libreadline-dev libssl-dev libconfig-dev
    - apt-get install -y --no-install-recommends libcmocka-dev
    - apt-get install -y --no-install-recommends default-jdk expect golang-go curl
    - git clone https://github.com/bats-core/bats-core.git
    - ./bats-core/install.sh /usr
    - wget https://gitlab.com/YottaDB/DB/YDB/raw/master/sr_unix/ydbinstall.sh
    - chmod +x ./ydbinstall.sh
    - ./ydbinstall.sh --utf8 default --verbose --octo
    - source $(pkg-config --variable=prefix yottadb)/ydb_env_set
    - ./tools/ci/octo_setup.sh
    - mkdir -p tests/results
    - npm install
    - npm run build
    - export ydb_routines=`$ydb_dist/yottadb -run %XCMD 'W $P($P($ZRO,"(",1,2),")")_" "_"$PWD/routines"_")"_$P($ZRO,")",2,$L($ZRO,")"))'` 
    - export ydb_zinterrupt="I \$\$JOBEXAM^%YDBWEBZU(\$ZPOSITION)"
    - $ydb_dist/yottadb -run Start^%YDBWEB
    - ./tools/ci/test.sh
  artifacts:
    paths:
    - tests/results
    when: always
    expire_in: 1 month
